/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


/*========== My homework ==========*/

/*========== Task 1 ==========*/

.gallery{
  display: flex;
  flex-wrap: wrap;
  width: 1128px;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
}

/*========== Task 2 ==========*/

.feedback-form {
  border-radius: 8px;
  width: 408px;
  height: 296px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 0;
};

label{
  flex-direction: column;
  
}

.feedback-form label input[type="email"] {
  margin-bottom: 8px;
    width: 360px;
    height: 39px;
    margin-left: auto;
    margin-right: auto;
}

.feedback-form label textarea[type="message"] {
  width: 360px;
  height: 112px;
};

button{
  border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;
    background: #4e75ff;
    margin-top: 16px;
}